#div1{
    text-align:center;
    margin-top:50px;
}
#inputLabel{
    font-size:20px;
}
#name1{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#alreadyExist{
    padding-left:50px;
    color:red;
    display:none;
}
#addName{
    width: 10%;
    background-color: MediumSeaGreen;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}
.hide{
    display:none;
}
table{
    border-collapse: collapse;
    margin:auto;
}
table.list{
    width:30%;
}
th{
    background-color:MediumSeaGreen;
    padding: 8px;
    color:white;
    font-size: 20px;
}
td{
    border: 1px solid #dddddd;
    padding: 8px;
}
#tableCaption{
     font-size:20px;
     font-weight: bold;
}
#editSucessful{
    display:none;
    color:MediumSeaGreen;
}
#deleteSucessful{
    display:none;
    color:red;
}